.gender-graph {
    width: 100%;
    height: 194px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    padding-top: 18px;
    h2 {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.12px;
        color: #a5a5a5;
        text-transform: uppercase;
        text-align: left;
        margin-left: 30px;
        .unit {
            color: #0880ae;
        }
    }
    .gender-list {
        &_item {
            display: inline-block;
            margin-left: 6px;
            margin-top: 20px;
            width: 72px;
            text-align: center;
            .gender {
                margin-top: 15px;
                &.women {
                    p {
                        color: #e877ff;
                    }
                }
                &.other {
                    p {
                        color: #8567c0;
                    }
                }
            }
            p {
                font-size: 8px;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #1082c8;
            }
        }
    }
}