.welcome-banner {
    display: inline-block;
    text-align: center;
    h1 {
        line-height: 53px;
        font-size: 30px;
        color: #86A3AF;
        margin-bottom: 27px;
    }
    img {
        width: 80%;
        height: auto;
        margin-bottom: 27px;
        &.hc-logo {
            height: 24px;
            width: auto;
            display: block;
            margin: auto;
            margin-bottom: 5px;
        }
    }
    a {
        line-height: 21px;
        font-size: 18px;
        font-weight: 300;
        color: #1178c4;
        text-decoration: none;
    }
    small {
        font-size: 9px;
        font-weight: 300;
        line-height: 11px;
        display: block;
    }
}