.status-bar {
    width: calc(100% - 30px);
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    &_item {
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        margin-right: 15px;
        position: relative;
        &-warning {
            margin-left: 30px;
            &::after {
                content: '';
                width: 0px !important;
            }
            p {
                color: #fd404b !important;
            }
            .icon-infected-red {
                position: absolute;
                top: 13px;
                left: 40px;
            }
        }
        &::after {
            content: '';
            width: 1px;
            height: 30px;
            background-color: #0880ae;
            position: absolute;
            top: 16px;
            right: -15px;
        }
        &-value {
            font-size: 20px;
            line-height: normal;
            color: #0880ae;
            margin-top: 11px;
        }
        &-text {
            font-size: 10px;
            line-height: normal;
            color: #0880ae;
            text-transform: uppercase;
        }
    }
    &_action {
        margin-left: 0;
        margin-right: 30px;
        position: relative;
        &::after {
            content: '';
            width: 1px;
            height: 30px;
            background-color: #0880ae;
            position: absolute;
            top: 16px;
            right: -30px;
        }
        &-item {
            display: inline-block;
            height: 60px;
            vertical-align: top;
            text-align: center;
            .icon-update {
                margin: auto;
            }
            .icon-menu {
                margin-top: 23px;
                margin-right: 30px;
                cursor: pointer;
            }
            p {
                font-size: 10px;
                color: #9b9b9b;
                text-transform: uppercase;
                margin-top: 3px;
            }
            &.update-btn {
                cursor: pointer;
                &:hover {
                    p {
                        color: #0880ae;
                    }
                    .icon-update {
                        background-image: url('~/assets/images/header-reload-blue.png');
                    }
                }
            }
        }
    }
}