.admin-header {
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    &_logo {
        display: inline-block;
        margin-top: 14px;
        margin-left: 19px;
        vertical-align: top;
        img {
            width: 305px;
        }
    }
    &_action {
        height: 60px;
        float: right;
        margin-right: 19px;
        .site-selector {
            display: inline-block;
            margin-right: 30px;
            text-transform: uppercase;
            cursor: pointer;
            position: relative;
            &:hover {
                .selector {
                    max-height: 500px;
                    overflow: hidden;
                    opacity: 1;
                }
            }
            &_icon {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .logged-user {
            display: inline-block;
            cursor: pointer;
            position: relative;
            &:hover {
                .selector-user {
                    max-height: 500px;
                    overflow: hidden;
                    opacity: 1;
                }
            }
            &_avatar {
                display: inline-block;
                vertical-align: middle;
                margin-right: 6px;
            }
        }
        p {
            font-size: 10px;
            color: #8badba;
            display: inline-block;
            line-height: 60px;
        }
        .icon-down-arrow {
            display: inline-block;
            margin-left: 6px;
        }
    }
    .selector-user,
    .selector {
        position: absolute;
        top: 50px;
        left: -20px;
        width: 196px;
        border-radius: 2px;
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.05);
        border: solid 0.5px #f0eded;
        background-color: #ffffff;
        padding: 7px;
        z-index: 99;
        max-height: 0px;
        overflow: hidden;
        opacity: 0;
        &-item {
            font-size: 9px;
            line-height: 2.13;
            color: #9b9b9b;
            cursor: pointer;
            &:hover {
                background-color: #f0eded;
            }
            &.active {
                color: #4a4a4a;
            }
        }
    }
    .selector-user {
        left: 5px !important;
        width: 97px !important;
        top: 50px;
    }
}