.send-for-all {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    h1 {
        font-size: 12px;
        line-height: normal;
        color: #0880ae;
        position: relative;
        padding-left: 23px;
        margin-bottom: 6px;
        .icon-send {
            position: absolute;
            top: -2px;
            left: 0;
        }
    }
    p {
        width: 260px;
        font-size: 11px;
        line-height: normal;
        font-weight: 300;
        letter-spacing: 0.12px;
        color: #a7a5a8;
        margin-left: 23px;
    }
}