img {
    max-width: 175px;
    height: auto;
    margin-bottom: 21px;
}
h2 {
    line-height: 33px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
}
.text-bg {
    max-width: 227px;
    background-color: #86a3af;
    text-align: center;
    margin-bottom: 20px;
}
p {
    max-width: 384px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 300;
    color: #4a4a4a;
    margin-bottom: 35px;
}